@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import './keyframes.pcss';
@import './globals.pcss';
@import './landingPage.pcss';
@import './palettesPage.pcss';
@import './createPage.pcss';
